@import "reset";
@import "variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: $primary-color;
    font-size: 1.4rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe\ UI,Roboto,Helvetica\ Neue,Arial,Noto\ Sans,sans-serif;
    color: $text-color;
}

@import "blocks/page";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/header";
@import "blocks/container";
