.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
    object-fit: contain;
    border: 2px solid $text-color;
    box-shadow: 2px 2px 3px rgba(153, 151, 155, 0.25);
    border-radius: 50%;
}

.profile__name {
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: block;
    text-align: center;
}

.profile__prof {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
}

.profile__text {
    font-size: 1.2rem;
    text-align: center;
    border-top: 2px solid #1c1c1c;
    border-bottom: 2px solid #1c1c1c;
    padding: 3rem 0;
    margin: 3rem 0;

}
