<aside class="sidebar">
    <div class="sidebar__header">
        <img class="sidebar__img" src="../assets/images/sidebar-header-img.jpg" alt="image">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="../assets/images/avatar.svg" alt="avatar">
            <span class="profile__name">Имя Фамилия</span>
            <p class="profile__prof">Блог Java - разработчика</p>
        </div>

        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="" target="_blank">
                    <img class="social__icon" src="../assets/images/telegram.svg" alt="telegram">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="" target="_blank">
                    <img class="social__icon" src="../assets/images/whatsapp.svg" alt="whatsapp">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="" target="_blank">
                    <img class="social__icon" src="../assets/images/vk.svg" alt="vk">
                </a>
            </li>
        </ul>

        <p class="profile__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A repudiandae deserunt nisi repellat quidem quibusdam incidunt minima consectetur quia nemo.</p>
        
        <div class="sidebar__footer">
            <a href="" class="btn">Резюме</a>
            <button type="button" class="btn">Написать мне</button>
        </div>
    </div>
</aside>